body {
  font-family: 'Poppins', sans-serif;
}

// Navigation

//.nav-bar {
//  position: absolute;
//  z-index: 2;
//  width: 100%;
//  color: white;
//}

// Banner

.info {
  position: relative;
  background: #FFFFFF;
  margin-top: -26px;
  z-index: 2;
  width: 70%;
  border-top-right-radius: 40px;
}
.space {
  height: 70px;
}

.product--item {
  margin-bottom: 30px;
}

.sidebar {
  //height: 50vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  //border: 1px solid black;

  &--item {
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
  }

  .accordion {
    .card {
      border-radius: 0;

      .card-header {
        background: none;
        border-bottom: none;
      }
    }
  }
}

form {
  .form-control {
    &.form-control__custom {
      border-radius: 40px;
      padding: .375rem 1.5rem;
    }
    &.form-control__subscribe__custom {
      border-radius: 40px;
      width: 50%;
      padding: .375rem 1.5rem;
    }
  }
  .btn {
    &.btn__submit {
      width: 100%;
      border-radius: 40px;
      background: #FBB03B;
      color: #000000;
    }
    &.btn__facebook {
      width: 48%;
      border-radius: 40px;
      background: #3B5998;
      border-color: #3B5998;

      color: #FFFFFF;
    }
    &.btn__gmail {
      width: 48%;
      border-radius: 40px;
      background: #FFFFFF;
      border-color: #F1584D;
      color: #000000;
    }
    &.btn__subscribe {
      width: 25%;
      height: calc(1.5em + .75rem + 2px);
      border-radius: 40px;
      background: #FFFFFF;
      border-color: #F1584D;
      color: #000000;
    }
  }
}

.newsletter-wrap {
  .newsletter--inner--wrap {
    height: 250px;

    .newsletter--title, .newsletter--form {
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}
