body {
  font-family: 'Poppins', sans-serif;
}

.space {
  height: 70px;
}

.product--item {
  margin-bottom: 30px;
}

.sidebar {
  //height: 50vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  //border: 1px solid black;

  &--item {
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
  }

  .accordion {
    .card {
      border-radius: 0;

      .card-header {
        background: none;
        border-bottom: none;
      }
    }
  }
}

form {
  .form-control {
    &.form-control__custom {
      border-radius: 40px;
      padding: .375rem 1.5rem;
    }
  }
  .btn {
    &.btn__submit {
      width: 100%;
      border-radius: 40px;
      background: #FBB03B;
      color: #000000;
    }
    &.btn__facebook {
      width: 48%;
      border-radius: 40px;
      background: #3B5998;
      border-color: #3B5998;

      color: #FFFFFF;
    }
    &.btn__gmail {
      width: 48%;
      border-radius: 40px;
      background: #FFFFFF;
      border-color: #F1584D;
      color: #000000;
    }
  }
}

