body {
  font-family: 'Poppins', sans-serif;
}

// Navigation

.nav-bar {
  position: relative;
  z-index: 2;
}

// Banner

.hero {
  margin-top: -70px;
}

.info {
  position: relative;
  background: #FFFFFF;
  margin-top: -110px;
  z-index: 2;
  width: 70%;
  padding-left: 115px;
  padding-right: 47px;
  border-radius: 0 50px 0 0;
  display: flex;

  div.card {
    border: 0;

    .card-body {
      .card-title {
        font-size: 16px;
        font-weight: 600;
        opacity: 1;
      }
      .card-text {
        font-size: 13px;
        color: #808080;
        opacity: 1;
      }
    }

  }
}
.space {
  height: 70px;
}

.product--item {
  margin-bottom: 30px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &--item {
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
  }

  .accordion {
    div.card {
      border-radius: 0;

      .card-header {
        background: none;
        border-bottom: none;
      }
    }
  }
}

form {
  .form-control {
    &.form-control__custom {
      border-radius: 40px;
      padding: .375rem 1.5rem;
    }
    &.form-control__subscribe__custom {
      border-radius: 40px;
      width: 50%;
      padding: .375rem 1.5rem;
    }
  }
  .btn {
    &.btn__submit {
      width: 100%;
      border-radius: 40px;
      background: #FBB03B;
      color: #000000;
    }
    &.btn__facebook {
      width: 48%;
      border-radius: 40px;
      background: #3B5998;
      border-color: #3B5998;

      color: #FFFFFF;
    }
    &.btn__gmail {
      width: 48%;
      border-radius: 40px;
      background: #FFFFFF;
      border-color: #F1584D;
      color: #000000;
    }
    &.btn__subscribe {
      width: 25%;
      height: calc(1.5em + .75rem + 2px);
      border-radius: 40px;
      background: #FBB03B;
      color: #000000;
    }
  }
}

.newsletter-wrap {
  background: #C33764;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/banner.png");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/banner.png");
  overflow: hidden;

  .newsletter--inner--wrap {
    height: 242px;

    .newsletter--title, .newsletter--form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .newsletter--title {
      color: #FFFFFF;
    }

  }
}


.advert {

  div.card {
    border: 0;

    .card-body {
      padding: 0;

      .card-title {
        font-size: 16px;
        font-weight: 600;
        opacity: 1;
      }
      .card-text {
        font-size: 13px;
        color: #808080;
        opacity: 1;
      }
    }
  }
}

.section-title {
  font-size: 29px;
  font-weight: 300;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    width: 700px;
    background-color: #FFFFFF;
  }

  .modal-header, .modal-footer {
    padding: 10px;
  }

  .modal-title {
    margin: 0;
  }

  .modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
